<div class="card-header bg-light">

    <div class="input-group col-md-7 col-xl-6 align-items-center">
        <strong>当前位置：</strong>
        <span data-th-text="${title}"></span>
        <input type="text" class="form-control ml-5" id="searchContent"
               placeholder="输入标题进行搜索">
        <span class="input-group-btn">
			<button class="btn btn-secondary" th:attr="url='/dongtai/list/'" type="button" id="searchTitleBtn">
				<i class="fa fa-search"></i>
			</button>
		</span>
        <a class="btn btn-primary" th:attr="url='/dongtai/add'" data-toggle="modal"
                   data-target="#flipFlop" role="button" id="addJiaoyan">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </a>

    </div>
</div>

<div id="mainContainer" class="container">
    <div id="mainContainerRepleace" class="row pl-4 pr-4">
        <table class="table table-striped">
            <thead>
            <tr>
                <th data-field="id">ID</th>
                <th data-field="title">标题</th>
                <th data-field="publisher">发布者</th>
                <th data-field="updateUser">更新者</th>
                <th data-field="publishTime">发布时间</th>
                <th data-field="updateTime">更新时间</th>
                <th data-field="hit">阅读次数</th>
                <th>操作</th>

            </tr>
            </thead>
            <tbody>

            <tr th:each="dongtai : ${dongtaiModel.dongtaiList}">
                <td th:text="${dongtai.id}"></td>
                <td th:text="${dongtai.title}"></td>
                <td th:text="${dongtai.publisher.username}"></td>
                <td th:text="${dongtai.updateUser.username}"></td>
                <td th:text="${dongtai.publishTime}"></td>
                <td th:text="${dongtai.updateTime}"></td>
                <td th:text="${dongtai.hit}"></td>
                <td>

                    <a id="editJiaoyan" role="button" url="/dongtai/edit/"
                       th:attr="dongtaiId=${dongtai.id}" href="#" data-toggle="modal"
                       data-target="#flipFlop">
                        <i class="fa fa-pencil-square-o"></i>
                    </a>
                    <a id="deleteJiaoyan" class="ml-4" role="button" href="#"  url="/dongtai/delete/"
                       th:attr="type=${type},dongtaiId=${dongtai.id}">
                        <i class="fa fa-times"></i>
                    </a>

                </td>
            </tr>

            </tbody>

        </table>
        <div th:replace="~{fragment/page :: page}">...</div>

    </div>
</div>

<!-- The modal -->
<div class="modal fade" id="flipFlop" tabindex="-1" role="dialog"
     aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog w-75" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalLabel">新增/编辑</h4>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body" id="dongtaiFormContainer"></div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" url='/dongtai/update/'
                        id="submitEdit">提交
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<!-- JavaScript -->

<script src="/static/js/dongtai.js"></script>
