<!--
    素材页，用于别的页面th：replace 调用
-->
<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <!-- CSRF -->
    <!--<meta name="_csrf" th:content="${_csrf.token}"/>-->
    <!-- default header name is X-CSRF-TOKEN -->
    <!--<meta name="_csrf_header" th:content="${_csrf.headerName}"/>-->
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico"/>
    <title>海南大学网站内容管理系统</title>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap-material-design.min.css}"/>
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/static/css/toastr.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/admin.css}"/>
    <link rel="stylesheet" href="/static/kindEditor/themes/default/default.css" />
    <script charset="utf-8" src="/static/kindEditor/plugins/code/prettify.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<header th:fragment="header">
    <div class="container-fluid p-0 m-0 w-100">
        <nav class="navbar navbar-expand-lg navbar-light bg-light ">
            <a class="navbar-brand ml-2" href="/">
                <img src="/static/img/logo.png" height="48" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="col-xl-1 collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ">

                    <!--<li class="nav-item search ">-->
                    <!--<input type="text" placeholder="&nbsp;搜索">-->
                    <!--<button><i class="fa fa-search"></i></button>-->
                    <!--</li>-->
                    <li class="dropdown">
                        <a class=" dropdown-toggle" href="#" data-toggle="dropdown"><span
                                sec:authentication="name"></span></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" role="button" id="editProfile" href="#" th:attr="url=${'/u/' + #authentication.name + '/profile'}">个人设置</a>
                        </div>
                    </li>
                    <li class="nav-item ">
                        <form action="/logout" th:action="@{/logout}" method="post">
                            <button title="退出" type="submit" class="ml-5 btn bmd-btn-fab bmd-btn-fab-sm">
                                <i class="material-icons fa fa-sign-out fa-fw"></i>
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>

    </div>

</header>
<footer data-th-fragment="footer">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/popper.js"></script>
    <script src="/static/js/bootstrap-material-design.js"></script>
    <script src="/static/js/toastr.min.js" ></script>
    <script src="/static/js/thymeleaf-bootstrap-paginator.js"></script>
    <script charset="utf-8" src="/static/kindEditor/kindeditor-all-min.js"></script>
    <script charset="utf-8" src="/static/kindEditor/lang/zh-CN.js"></script>
    <script charset="utf-8" src="/static/kindEditor/kindEditorConfig.js"></script>
    <script src="/static/js/common.js"></script>


</footer>

</html>